// profile credit to https://github.com/TheJacksonLaboratory/nf-tenx

singularity {
   enabled = true
   autoMounts = true
   cacheDir = '/panfs/pfs.local/work/sjmac/observer/containers'
 }

process {
    executor = 'slurm'
    queue = {task.time < 6.h ? 'sixhour' : 'sjmac'}
}

executor {
    $slurm {
        queueSize = 50
        submitRateLimit = '1 / 2 s'
    }
}

trace {
    enabled = false
    file = "${params.pubdir}/trace/trace.txt"
    fields = \
         "task_id,"   \
       + "hash,"      \
       + "process,"   \
       + "tag,"       \
       + "status,"    \
       + "exit,"      \
       + "start,"     \
       + "container," \
       + "cpus,"      \
       + "time,"      \
       + "disk,"      \
       + "memory,"    \
       + "duration,"  \
       + "realtime,"  \
       + "queue,"     \
       + "%cpu,"      \
       + "%mem,"      \
       + "rss,"       \
       + "vmem,"      \
       + "rchar,"     \
       + "wchar"
}
