//====================  Nextflow/Container Config  ==========

manifest {
    name = "rnaseq"
    description = 'Pipeline for processing of non-microbial RNA-Seq samples.'
    author = 'Brian Sanderson'
    version = "0.1.0"
    nextflowVersion = "!>=20.10.0"
    description = "Adapted from The Jackson Laboratory Nextflow pipelines https://github.com/TheJacksonLaboratory/cs-nf-pipelines"
}

params {
    extension='.fastq.gz'
    pattern="*_R{1,2}*"
    read_type = 'PE' // SE
    multiqc_config = "${projectDir}/etc/multiqc/rnaseq_multiqc.yaml"
    strandedness = null
    concat_lanes = false
    
    //RSEM params
    seed_length = '25'
    
    //Quality Stats params
    quality_phred = '15'
    unqualified_perc = '40'
    detect_adapter_for_pe = false

    rsem_aligner = "bowtie2"
  
}
