//====================  Nextflow/Container Config  ==========

manifest {
    name = "wgs"
    description = 'Pipeline for Calling Variants from Whole Genome Sequencing data'
    author = 'Brian Sanderson'
    version = "0.1.0"
    nextflowVersion = "!>=20.10.0"
    description = "Adapted with modifications from The Jackson Laboratory Nextflow pipelines https://github.com/TheJacksonLaboratory/cs-nf-pipelines"
}

params {
  extension='.fastq'
  pattern="*_R{1,2}*"
  read_type = 'SE' // PE
  sample_folder = null
  fasta = null
  fasta_fai = null
  bwa_index = null
  concat_lanes = false
  download_data = false
  csv_input = null
  keep_intermediate = false
  save_references = false
  
  multiqc_config = "${projectDir}/etc/multiqc/wgs.yaml"

  // FASTP parameters
  quality_phred = 15 // default 
  unqualified_perc = 40 // default
  detect_adapter_for_pe = false // by default, the auto-detection for adapter is for SE data input only, turn on this option to enable it for PE data.
  // NOTE: For PE data, the adapter sequence auto-detection is disabled by default since the adapters can be trimmed by overlap analysis. However, you can specify --detect_adapter_for_pe to enable it.
  //       For PE data, fastp will run a little slower if you specify the sequence adapters or enable adapter auto-detection, but usually result in a slightly cleaner output, since the overlap analysis may fail due to sequencing errors or adapter dimers.

  // Variant calling parameters
  mismatch_penalty = "-B 8"
  ploidy_val = "-ploidy 2"
  call_val = "50.0"

  tmpdir = "~/scratch/$USER/tmp/"
  bwa_min_score = null
}
